.projects{
    display: flex;
    flex-direction: column;
    height: 140vh;
    margin-top: 9rem;
    margin-bottom: 8rem;
    /* background-color: yellow; */
    /* border: 2px solid; */
}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}
.awesome>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(3){
    color: var(--gray);
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
}
.cards{
    height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* background: red; */
}
.cards > div {
    flex: 1; /* Equal width for all cards */
    max-width: 30%; /* Prevents overlapping */
  }

@media screen and (max-width: 480px){
    .projects{
        margin-top: 1rem;
        flex-direction: column;
        gap: 5rem;
        height: auto;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    /* .cards>*{
        position: static;
    } */
}