.card{
    width: 17rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}
.card span:nth-last-of-type(1){
    color: var(--gray);
    font-size: 0.6rem;
}
.card>img{
    transform: scale(0.7);
}
.c-button{
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;    
    border: none;
    padding: 0.6rem;
    font-size: 0.6rem;
    color: #5290FD;
}
.c-button:hover{
    cursor: pointer;
}
@media screen and (max-width: 480px){
    .card{
        width: auto;
    }
}