.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-left div:hover{
    cursor: pointer;
    color: var(--orange);
}

.n-name{
    font-size: 1.5rem;
    font-weight: bold;
}

.n-right{
    display: flex;
    align-items: center;
    justify-content: center;

    /* background: lightblue; */
}

.n-list{
    flex: 8;
}

.n-list > ul{
    display: flex;
    gap: 2rem;
    margin-left: 7rem;
}
.n-list ul li:hover{
    cursor: pointer;
    color: var(--orange);
}

.n-button{
    margin-left: 2rem;
}

@media screen and (max-width: 480px) {
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
}